/* 公共样式设置 */
* {
  margin: 0;
  padding: 0;
  box-sizing:border-box;
  -webkit-box-sizing:border-box; /* Safari */
}
html,body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  height: 100%;
}
li {
  list-style: none;
}
/*容器高度*/
.container {
  height: 100%;
}
.mint-swipe-indicator {
  background: #ccc;
}
.mint-swipe-indicator.is-active {
  background: blue;
}

 /**
 * 搜索区样式
 */
.mint-searchbar {
  background-color: #FFFFFF;
}
.mint-searchbar-inner {
  border-radius: 20px;
  background-color: #f3f3f3;
}
.mint-searchbar-core {
  background-color: #f3f3f3;
}