 /**
   * 搜索区样式
   */
  .mint-searchbar {
    background-color: #FFFFFF;
  }
  .mint-searchbar-inner {
    border-radius: 20px;
    background-color: #f3f3f3;
  }
  .mint-searchbar-core {
    background-color: #f3f3f3;
  }